body
{
background-color: rgb(55, 68, 74);
}
label{
    margin: 5px;
}
#open
{
    margin: auto ;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15%;
    height: 50px;
    width: 100px;
    background-color: rgb(252, 252, 252);
}

.form
{
    margin: auto ;
    margin-top: 5%;
    left:10%;
    right:10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    max-width: 75%;
    border-radius: 5%;
    background-color: #67c28bd1;
}